



/* FAQ Principal */
main {
  padding: 40px 20px;
}

.faq-container {
  max-width: 800px;
  margin: auto;
}

.faq-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.faq-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 5px solid #007BFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.faq-item h3 {
  margin: 0 0 10px;
  color: #007BFF;
}

.faq-item p {
  margin: 0;
  color: #333;
}



/* Responsivo */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-top: 1px solid #eee;
  }

  nav.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  nav a {
    margin: 10px 0;
    font-size: 16px;
  }

  .logo img {
    width: 80px;
    height: 80px;
  }


}
