/* === MAPA === */
#map {
  height: 400px;
  width: 100%;
  margin-top: 20px;
}


.explicacao {
  margin-top: 20px;
  font-size: 15px;
  color: #333;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefefe;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.explicacao h3 {
  margin-bottom: 10px;
  color: #444;
}

/* === RESPONSIVO (opcional) === */
@media (max-width: 600px) {
  .legenda {
    font-size: 14px;
  }

  .explicacao {
    padding: 10px;
    font-size: 14px;
  }
}
